.btn {
  padding: 20px;
  border-radius: 8px;
  background-color: #8bc53f;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #8bc53f solid;
}

.btn:hover {
  padding: 20px;
  border-radius: 8px;
  background-color: #5d9943;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #5d9943 solid;
}

.btn-alt {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  border: 1px #fff solid;
}

.btn-alt:hover {
  color: #8bc53f;
}

.btn-sml {
  padding: 14px;
  font-size: 14px;
}

.btn-sml:hover {
  padding: 14px;
  font-size: 14px;
}
