.btn {
  padding: 20px;
  border-radius: 8px;
  background-color: #8bc53f;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #8bc53f solid;
}

.btn:hover {
  padding: 20px;
  border-radius: 8px;
  background-color: #5d9943;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #5d9943 solid;
}

.btn-alt {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  border: 1px #fff solid;
}

.btn-alt:hover {
  color: #8bc53f;
}

.btn-sml {
  padding: 14px;
  font-size: 14px;
}

.btn-sml:hover {
  padding: 14px;
  font-size: 14px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.sml-graph-img-wrapper {
  width: 450px;
}

.card-padding-wrapper {
  padding: 20px;
}

.card-sml-padding-wrapper {
  padding: 8px 16px 8px 16px;
}

.card-right-padding-wrapper {
  padding-right: 20px;
}

.card-wrapper-2 {
  border-top: 1px solid #e0e0e0;
}

.component-header-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
}

.component-subheader-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
}

.component-subtitle-text {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.transaction-list-table {
  font-size: 16px;
  padding-top: 16px;
  width: 100%;
  text-align: left;
}

.transaction-list-table-header {
  padding-bottom: 12px;
}

.transaction-list-last-col {
  text-align: right;
}

.transaction-list-footer {
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  margin: auto;
  padding: 12px;
  width: fit-content;
}
