.image-banner {
    width: 100%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
    top: 16px;
    left: 36px;
}