.width-padder {
  width: 1024px;
}

.create-form-card {
  width: 450px;
}

.alert-card {
  width: 250px;
}

.account-btns-left {
  margin-right: 20px;
}

.account-btns-right {
  margin-left: 20px;
}

.account-create-input {
  padding: 2px;
  border: hidden;
  width: 50%;
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
  border: 1px solid #e0e0e0;
}
