.btn {
  padding: 20px;
  border-radius: 8px;
  background-color: #8bc53f;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #8bc53f solid;
}

.btn:hover {
  padding: 20px;
  border-radius: 8px;
  background-color: #5d9943;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #5d9943 solid;
}

.btn-alt {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  border: 1px #fff solid;
}

.btn-alt:hover {
  color: #8bc53f;
}

.btn-sml {
  padding: 14px;
  font-size: 14px;
}

.btn-sml:hover {
  padding: 14px;
  font-size: 14px;
}

.btn-form {
  margin: auto;
  width: 25%;
  padding: 14px;
  font-size: 14px;
}

.btn-form:hover {
  margin: auto;
  width: 25%;
  padding: 14px;
  font-size: 14px;
}

.btn-form-wrapper {
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.card-wrapper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.sml-graph-img-wrapper {
  width: 450px;
}

.card-padding-wrapper {
  padding: 20px;
}

.card-sml-padding-wrapper {
  padding: 8px 16px 8px 16px;
}

.card-right-padding-wrapper {
  padding-right: 20px;
}

.card-wrapper-2 {
  border-top: 1px solid #e0e0e0;
  padding: 4px;
}

.component-header-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
}

.component-subheader-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
}

.component-subtitle-text {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.transaction-list-table {
  font-size: 16px;
  padding-top: 16px;
  width: 100%;
  text-align: left;
}

.transaction-list-table-header {
  padding-bottom: 12px;
}

.transaction-list-last-col {
  text-align: right;
}

.transaction-list-footer {
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  margin: auto;
  padding: 12px;
  width: fit-content;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  border: #000 2px solid;
  height: 32px;
  width: 96px;
}

.toggle-btn-right {
  height: 32px;
  width: 48px;
  margin: auto;
  border: none;
}

.toggle-btn-right:hover {
  background-color: #8bc53f;
}

.toggle-btn-left {
  height: 32px;
  width: 48px;
  margin: auto;
  border: none;
  border-right: 2px solid black;
}

.toggle-btn-left:hover {
  background-color: #8bc53f;
}

.toggle-btn-selected {
  background-color: #5d9943;
}

.toggle-img {
  margin: 0;
  background-color: none;
  border: none;
}

.scroll-btn {
  margin: auto;
  max-height: 32px;
  max-width: 32px;
  background-color: #8bc53f;
}

.scroll-btn:hover {
  background-color: #5d9943;
}

.scroll-btn-right {
  margin-left: 0px;
}

.scroll-btn-left {
  margin-right: 0px;
}

.scroll-btn-disable {
  background-color: #e0e0e0;
}

.scroll-btn-disable:hover {
  background-color: #e0e0e0;
}

.scroll-right-img {
  margin: 0;
  padding: 0;
  transform: scaleX(-1);
}

.scroll-left-img {
  margin: 0;
  padding: 0;
}

.list-scroll-container {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 20px;
}

.list-scroll-element {
  margin-left: 20px;
  margin-right: 20px;
}

.scroll-banner {
  position: sticky;
  flex-direction: row;
  z-index: 12;
  background-color: black;
  left: 0%;
  right: 0%;
  top: 92px;
}

.scroll-banner-wrapper {
  display: flex;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

.scroll-banner-element {
  color: #fff;
  font-size: 14px;
  margin-right: 24px;
}

.scroll-banner-element:hover {
  color: #8bc53f;
  font-size: 14px;
}

.grid-table-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
}

.grid-table-grid {
  border: 1px solid #5d9943;
  border-radius: 12px;
  height: 200px;
  width: 200px;
  margin: 6px auto 6px auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.grid-button-wrapper {
  display: flex;
  height: 100%;
  margin-top: auto;
  margin-bottom: 0px;
}

.rc-slider-track-over {
  position: absolute;
  height: 4px;
  background-color: #8bc53f;
  border-radius: 6px;
}

.rc-slider-handle-over {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  background-color: #fff;
  border: solid 2px #8bc53f;
  border-radius: 50%;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.8;
  touch-action: pan-x;
}

.list-transaction-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 8px;
  width: 100%;
  border: 1px solid #5d9943;
  border-radius: 16px;
}

.transaction-col-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
}

.list-transaction-font {
  font-size: 16px;
}

.list-transaction-icon {
  height: 16px;
}

.icon-button-wrapper {
  background: none;
  border: none;
}

.table-header-spacer {
  width: 56px;
  height: 53px;
}

.grid-inner-divider {
  border-bottom: 1px solid #e0e0e0;
  padding: 4px;
}

.grid-input-container {
  width: 100%;
}

.grid-seal-wrapper {
  width: 50%;
}

.graph-select-box-wrapper {
  border: 1px solid #e0e0e0;
  padding: 8px;
}

.graph-select-wrapper {
  display: flex;
  margin: auto;
  padding: 8px;
}

.component-buffer {
  margin-top: 16px;
}

.graph-picture-wrapper {
  height: 64px;
}

.graph-button-wrapper {
  background: none;
  border: none;
  margin: auto;
}

.graph-button-wrapper:hover {
  background-color: #8bc53f;
  border: none;
  margin: auto;
}

.graph-button-text {
  margin: auto;
}
