.btn {
  padding: 20px;
  border-radius: 8px;
  background-color: #8bc53f;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #8bc53f solid;
}

.btn:hover {
  padding: 20px;
  border-radius: 8px;
  background-color: #5d9943;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px #5d9943 solid;
}

.btn-alt {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  border: 1px #fff solid;
}

.btn-alt:hover {
  color: #8bc53f;
}

.btn-sml {
  padding: 14px;
  font-size: 14px;
}

.btn-sml:hover {
  padding: 14px;
  font-size: 14px;
}

.btn-form {
  margin: auto;
  width: 25%;
  padding: 14px;
  font-size: 14px;
}

.btn-form:hover {
  margin: auto;
  width: 25%;
  padding: 14px;
  font-size: 14px;
}

.btn-form-wrapper {
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.sml-graph-img-wrapper {
  width: 450px;
}

.card-padding-wrapper {
  padding: 20px;
}

.card-sml-padding-wrapper {
  padding: 8px 16px 8px 16px;
}

.card-right-padding-wrapper {
  padding-right: 20px;
}

.card-wrapper-2 {
  border-top: 1px solid #e0e0e0;
}

.component-header-text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
}

.component-subheader-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
}

.component-subtitle-text {
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.transaction-list-table {
  font-size: 16px;
  padding-top: 16px;
  width: 100%;
  text-align: left;
}

.transaction-list-table-header {
  padding-bottom: 12px;
}

.transaction-list-last-col {
  text-align: right;
}

.transaction-list-footer {
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  margin: auto;
  padding: 12px;
  width: fit-content;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  border: #000 2px solid;
  height: 32px;
  width: 96px;
}

.toggle-btn-right {
  height: 32px;
  width: 48px;
  margin: auto;
  border: none;
}

.toggle-btn-right:hover {
  background-color: #8bc53f;
}

.toggle-btn-left {
  height: 32px;
  width: 48px;
  margin: auto;
  border: none;
  border-right: 2px solid black;
  background-color: #5d9943;
}

.toggle-btn-left:hover {
  background-color: #8bc53f;
}

.toggle-img {
  margin: 0;
  background-color: none;
  border: none;
}

.scroll-btn-right {
  margin: auto;
  margin-left: 0px;
  max-height: 32px;
  max-width: 32px;
}

.scroll-btn-left {
  margin: auto;
  margin-right: 0px;
  max-height: 32px;
  max-width: 32px;
}

.scroll-right-img {
  margin: 0;
  padding: 0;
  transform: scaleX(-1);
}

.scroll-left-img {
  margin: 0;
  padding: 0;
}

.list-scroll-container {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 20px;
}

.list-scroll-element {
  margin-left: 20px;
  margin-right: 20px;
}
