.homepage-content-container {
  border: #5d9943 2px solid;
  padding-left: 36px;
  padding-right: 36px;
}

.image-banner-wrapper {
  width: 100%;
  position: relative;
}

.image-banner-text-container {
  position: absolute;
  left: 20%;
  top: 30%;
  max-width: 25%;
  z-index: 2;
}

.image-banner-header {
  color: #5d9943;
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1569px) {
  .image-banner-header {
    color: #5d9943;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .image-banner-header {
    display: none;
  }
}

.image-banner {
  width: 100%;
  margin-top: 0px;
  margin-bottom: -6px;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 30%, transparent 80%);
}

.section {
  position: relative;
}

.home-section-wrapper {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.home-section-block {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  .home-section-block {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.part {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 45%;
}

@media only screen and (max-width: 1200px) {
  .part {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 100%;
  }
}

.white {
  background-color: #fff;
}

.off-white {
  background-color: #f8f8f8;
}

.background-circle {
  display: flex;
  width: 450px;
  height: 450px;
  align-items: center;
  border-radius: 100%;
  background-image: linear-gradient(145deg, #8bc53f, #5d9943 80%);
}

@media only screen and (max-width: 1200px) {
  .background-circle {
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(145deg, #8bc53f, #5d9943 80%);
  }
}

@media only screen and (max-width: 600px) {
  .background-circle {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(145deg, #8bc53f, #5d9943 80%);
  }
}

.section-img {
  margin: auto;
}

.section-header-text {
  color: black;
  font-size: 32px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
}

.section-paragraph-text {
  color: #545453;
  font-size: 20px;
  line-height: 150%;
}

@media only screen and (max-width: 1569px) {
  .section-paragraph-text {
    color: #545453;
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 800px) {
  .section-paragraph-text {
    color: #545453;
    font-size: 16px;
    line-height: 150%;
  }
}

.banner-paragraph-text {
  color: #545453;
  font-size: 20px;
  line-height: 150%;
}

@media only screen and (max-width: 1569px) {
  .banner-paragraph-text {
    color: #545453;
    font-size: 16px;
    line-height: 150%;
  }
}

@media only screen and (max-width: 800px) {
  .banner-paragraph-text {
    display: none;
  }
}

.display-linebreak {
  white-space: pre-line;
}